#createPanel(hidden).panel
	h1 Create Charity Cart
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		//img(src="/imgs/acceptor.png", class="movie-poster")
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="reason" placeholder="REASON")
			legend 
				select(name="amount")
					option(value="100000") $100,000
					option(value="1000000") $1,000,000
					option(value="10000000") $10,000,000
				span.hint Amount
			
			legend
				button(type="button" style="margin:5px;")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span CREATE
				